

.main--about {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column; 
  gap: 2rem;
}


.about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
}




  .about__philosophy-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    
  }
 


.about__intro {
  padding: 1.5rem;
  border-radius: var(--border-radius-lg);
  background-color: var(--secondary-color);
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.3);
}

.about__intro-header {
  margin-bottom: 0.75rem;

}

.about__title {
  font-size: 2rem;
  margin: 0;
 text-align: center;
}

.about__intro-text {
  line-height: 1.6;
  
}

.about__description {
  margin: 0;
  color: black;
}

.about__philosophy {
  padding: 1.5rem;
  border-radius: var(--border-radius-lg);
  background-color: var(--light-color);
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.15);
  
}

.about__philosophy-title {
  margin: 0 0 0.0rem 0;
}

.about__philosophy-text {
  margin: 0 0 1.5rem 0;
  line-height: 1.6;
}


.about__philosophy-item {
  margin-bottom: 1.25rem;
  margin: 1rem;
  padding: 1rem;

}

.about__philosophy-item:last-child {
  margin-bottom: 0;
}

.about__philosophy-item-title {
  font-size: 1.1rem;
  margin: 0 0 0.4rem 0;
}

.about__philosophy-item-title--small {
  font-weight: 600;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 0 0.4rem 0;
}

.about__philosophy-item-text {
  margin: 0;
  line-height: 1.6;
} 