.main {
    width: 100%;
    height: 100%;  
    display: flex;
    
}

.blog{
    border: 1px solid black;
    margin: 1.6rem auto;
    padding: 1rem;
    display: flex;
    background-color: var(--light-color);
}

.blog__container {
      padding: 12px  
}

.blog__content-intro{
    margin: 0 0 0.8rem 0;

    display: flex;
    align-items: center;
    
}

.blog__title{
     margin: 0 1rem 0 0;
 }