.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem; 
}

.blog{
    width: 100%;
    height: 100%;
    margin: 1.6rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

.blog__item {
      padding: 12px;
      border: green 1px solid;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      border-radius: var(--border-radius-lg);
      background-color: var(--light-color);
    
}

.blog__image-box {
  width: 150px;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid white;
  border-radius: var(--border-radius-md);
  margin-right: 1rem;
  overflow: hidden;
}

.blog__image {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* fills the box but keeps square shape */
}

.blog__content {
    border: 1px orange solid;
    display: flex;
    flex-direction: column;
}

.blog__header {
    border: 1px purple solid;
    display: flex;
    align-items: center;
    margin-bottom: .6rem;
    font-weight: 500;
    
}

 .blog__title {
    font-size: 2rem;
    margin-right: 1.4rem;

 }

.blog__date {
    font-size: 1.2rem;
}

.blog__text {
    line-height: 1.4;

}