.checkout {
     border: 1px solid red;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

.checkout__section {
    border: 1px solid red;
}

.checkout__title {
    margin-bottom: 1rem;
}

.checkout__form-wrapper {
    display: flex;
    flex-direction: column;
}

.checkout__form {
    display: flex;
    flex-direction: column;
}

.checkout__form-group {
    width: 100%;
    margin-bottom: 1rem;
    border: red solid 1px;
    display: flex;
    gap: 1rem;
}

.checkout__label {
    border: 1px solid blue;
}
