@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color:#F0350F;
    --secondary-color:#F8A291;
    --light-color:#FDEBE7;
    --dark-color:#6E1807;
    --dark-btn-color-grey:rgb(93, 92, 92);
    --text-color:#180502;
    /* borders */
    --border-radius: 8px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.navbar {
    width: 100%;
    height: 2.8rem;
    border: 1px solid black;
    background-color: var(--light-color);
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.navbar__menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar__item {
    list-style: none;
    margin: 0 12px;
}

.navbar__link {
    text-decoration: none;
    color: var(--text-color);
}