@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

:root {
    --primary-color:#F0350F;
    --secondary-color:#F8A291;
    --light-color:#FDEBE7;
    --dark-color:#6E1807;
    --dark-btn-color-grey:rgb(93, 92, 92);
    --text-color:#180502;
    /* borders */
    --border-radius: 8px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
}

main {
    flex: 1;
}

/* Navbar */
.navbar {
    width: 100%;
    height: 3.5rem;
    border: 1px solid black;
    background-color: var(--light-color);
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.navbar__brand {
    width: 55px;
    height: 55px;
}

.navbar__brand-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Footer */
.footer {
    width: 100%;
    height: 3.5rem;
    border: 1px solid black;
    background-color: var(--light-color);
    display: flex;
    justify-content:space-around;
    align-items: center;
}

/* Styling for hover nav/footer menu items*/
.navbar__menu, .footer__social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar__item, .footer__social-item {
    list-style: none;
    margin: 0 1rem;
    transition: transform .3s ease;
}

.navbar__link, .footer__social-link {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--text-color);
}

.navbar__item:hover, .footer__social-item:hover {
    transform: translateY(-2px);
}