@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color:#F0350F;
    --secondary-color:#F8A291;
    --light-color:#FDEBE7;
    --dark-color:#6E1807;
    --text-color:#180502;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}