.home {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home__hero, .home__intro {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.home__hero-logo-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__hero-logo {
    width: 85%;
    height: auto;
    object-fit: contain;
    background-color: var(--light-color);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.5));
    border-radius: 50%;
}

.home__content {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    padding: 1rem 1.4rem;
}

.home__text {
    margin: 2rem 0;
    line-height: 1.8;
}

.home__navigation {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home__navigation-btn {
    padding: .6rem 1.2rem;
    margin: 0 1rem;
    background-color: var(--secondary-color);
    border: .5px solid rgba(0,0,0,0.3);
    border-radius: var(--border-radius-md);
    transition: all .3s ease-in;
    cursor: pointer;
}

.home__navigation-link {
    color: var(--text-color);
    text-decoration: none;
    font-family: inherit;
}

.home__navigation-btn:hover {
    opacity: .9;
}