.home {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__hero {
    flex: 1;
    border: 1px solid white;
}

.home__hero-logo-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .8;
}

.home__hero-logo {
    width: 80%;
    height: 80%;
    background-color: var(--light-color);
    object-fit: contain;
    border: 1px solid orange;
    border-radius: 50%;
    box-shadow: 2px 2px 4px #000;
}

.home__intro {
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light-color);
    border: 1px solid green;
}

.home__content {
    width: 80%;
    height: 80%;
    margin-bottom: 1rem;
    border: 1px solid black;
}

.home__text {
    margin: 1rem 0;
}

.home__navigation {
    border: 1px solid blue;
}

.home__navigation-btn {
    margin: 0 1rem;
    padding: 6px 10px;
    background-color: var(  --dark-btn-color-grey);
}

.home__navigation-link {
    color: var(--light-color);
    text-decoration: none;
    font-family: inherit;
}