.products {
    padding: 1rem;
}

.products__filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    margin-bottom: 2rem;
}

.products__title {
    font-size: 2.4em
}

.products__filters-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__filter-group {
    margin: 0 1.4rem;
}

/* Products Grid */
.products__grid {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    gap: 20px;
}

/* Products Card */
.products__card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-color);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.5));
    border-radius: var(--border-radius-lg);
}

.products__card-image-container, .products__card-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: inherit;
}

.products__card-image-container {
    width: 100%;
    height: auto;
    border-radius: inherit;
    margin-bottom: 1rem;
}

.products__card-info {
    padding: 1rem;
}

.products__card-name {
    margin-bottom: 1rem;
}

.products__card-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: inherit;
}

.products__card-description {
    margin-bottom: 1rem;
}

.products__card-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.products__card-price {
    font-size: 2rem;
    font-weight: bold;
}

.products__card-btn {
    padding: .6rem 1rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: .5px solid rgba(0,0,0,0.3);
    border-radius: var(--border-radius-md);
    transition: all .3s ease-in;
    cursor: pointer;
}