.products {
    border: 1px solid white;
}

.products__filters {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    margin-bottom: 2rem;
}

.products__filters-form {
    border: 1px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__filter-group {
    margin: 0 1.4rem;
}

/* Grid */
.products__grid {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 20px;
}

.products__card {
    width: 100%;
    height: 350px;
    padding: 1rem;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
}

.products__card-info, .products__card-footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .products__card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */